/* styles/page.module.css */
@keyframes rise {
  0% {
      transform: translateY(50px); /* Start 50px below */
      opacity: 0; /* Start fully transparent */
  }
  100% {
      transform: translateY(0); /* End at its original position */
      opacity: 1; /* Fully visible */
  }
}

.rise {
  animation: rise 0.6s ease-out forwards; /* Animation duration */
}


/* .appcompzero {
  width: 90vw;
  max-width: 2000px;
  margin: auto;
} */
.appcompzero {
  margin: auto;
  width: 80vw;
  max-width: 2200px;
  margin-top: auto;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}

/* .primarycomp1 {
  background-color: #a9f2f4;
  height: 400px;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 25px;
  box-shadow: 0px 0px 30px 1px grey;
  
} */

.primarycomp1 {
  /* height: 500px; */
  background-color: #77c2ff;
  border-radius: 25px;
  margin-bottom: 25px;
  padding: 20px;
  box-shadow: 0px 0px 30px 1px teal;
}

.buttonscomp1 {
  display: flex;
  align-items: center;
  justify-self: center;
  /* position: relative;
  z-index: 1; */
}



.buttonscomp2 {
  background-color: #fefefe;
  color: #1a1a1a;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  padding: 8px;
  border: none;
  border-radius: 25px;
  box-shadow: 0px -1px 10px teal;
  cursor: pointer;
}




/* .seconderycomp1 {
  background-color: #fefefe;
  width: 100%;
} */
.seconderycomp1 {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0px 0px 30px 1px teal;
  /* position: relative;
  z-index: 2; */
}

.square {
  height: 300px;
  background-color: #d9f0f0;
  border-radius: 30%;
}

.cityname {
  font-size: 3.5rem;
  font-weight: 900;
  color: #444;
  font-family: monospace;
  text-shadow: 0 0 5px whitesmoke;

}

.tempclass {
  font-size: 4rem;
  text-shadow: 0 0 5px teal;
  color: #222;
}

